<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== CSS ===============-->
    <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
</head>

<body>
    <!--=============== NAV ===============-->

    <div class="nav" id="nav">
        <nav class="nav__content">

            <div class="nav__logo">
                <i class='bx bx-user'></i>
                <span class="nav__logo-name">{{name}}</span>
            </div>

            <div class="nav__list">

                <a href="#" class="nav__link">
                    <i class='bx bx-grid-alt'></i>
                    <span class="nav__name">Dashboard</span>
                </a>

                <a href="#" class="nav__link">
                    <i class='bx bx-bookmark-heart'></i>
                    <span class="nav__name">Favourite</span>
                </a>

                <a href="#" class="nav__link">
                    <i class='bx bx-search-alt-2'></i>
                    <span class="nav__name">Search</span>
                </a>

                <a href="#" class="nav__link">
                    <i class='bx bx-library'></i>
                    <span class="nav__name">Your Library</span>
                </a>

                <a href="#" class="nav__link">
                    <i class='bx bx-podcast'></i>
                    <span class="nav__name">Podcast</span>
                </a>

                <a href="#" class="nav__link">
                    <i class='bx bx-cog'></i>
                    <span class="nav__name">Settings</span>
                </a>
            </div>
        </nav>

    </div>




    <!--=============== MAIN ===============-->
    <section class="card">

        <div class="card_title_container">
            <h1 class="card_title">Top Searched Artist</h1>Exclusive on <b>sukoon</b>.
        </div>

        <div class="card__container bd-container">

            <div class="card__glass">
                <img src="assets/images/img1.png" alt="" class="card__img">

                <div class="card__data">
                    <h3 class="card__title">Aafi mansuri</h3>
                    <span class="card__profession">Indian music producer</span>
                </div>

                <a href="aafi_Playlist" class="card__button">Playlist</a>
            </div>

            <div class="card__glass">
                <img src="assets/images/img2.jpeg" alt="" class="card__img">

                <div class="card__data">
                    <h3 class="card__title">Armaan Malik</h3>
                    <span class="card__profession">Indian singer-songwriter</span>
                </div>

                <a href="armaan_Playlist" class="card__button">Playlist</a>
            </div>

            <div class="card__glass">
                <img src="assets/images/img3.jpeg" alt="" class="card__img">

                <div class="card__data">
                    <h3 class="card__title">A P Dhillon </h3>
                    <span class="card__profession">Canadian singer</span>
                </div>

                <a href="dhillon_Playlist" class="card__button">Playlist</a>
            </div>

            <div class="card__glass">
                <img src="assets/images/img4.jpeg" alt="" class="card__img">

                <div class="card__data">
                    <h3 class="card__title">Shreya Ghoshal</h3>
                    <span class="card__profession">Indian singer</span>
                </div>

                <a href="shreya_Playlist" class="card__button">Playlist</a>
            </div>

            <div class="card__glass">
                <img src="assets/images/img5.jpeg" alt="" class="card__img">

                <div class="card__data">
                    <h3 class="card__title">Billie Eilish</h3>
                    <span class="card__profession">American singer-songwriter</span>
                </div>

                <a href="billie_Playlist" class="card__button">Playlist</a>
            </div>

            <div class="card__glass">
                <img src="assets/images/img6.jpeg" alt="" class="card__img">

                <div class="card__data">
                    <h3 class="card__title">Elley Duhé</h3>
                    <span class="card__profession">American singer</span>
                </div>

                <a href="elley_Playlist" class="card__button">Playlist</a>
            </div>

        </div>
        <footer>
            <div class="footerData">
    
            </div>
    
        </footer>
    </section>
</body>

</html>