<div class="container">
    <div class="title">
        <h1>Welcome to <span>Sukoon</span></h1>
        <p>#MusicThatYou<img src="../assets/images/undraw_love.svg" alt="">..</p>

    </div>
    <div class="info">

        <button class="signupbtn" routerLink="/signup">SignUp</button>

        <button class="loginbtn" routerLink="/login">LogIn</button>

    </div>
    <footer>
        <div class="footerData">
            @copyright Sukoon | All Rights Reserved
        </div>

    </footer>
</div>

