<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">

    <!--==================== CSS ====================-->
    <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->

</head>

<body>
    <section class="card container grid">
        <!-- <h1>Pick your plan</h1> -->
        <div class="desc">
            <h1 class="desc_title">Pick your Plan</h1>Get <b>sukoon</b> without limits on your devices.
        </div>
        <div class="card__container grid">
            <!--==================== CARD 1 ====================-->
            <article class="card__content grid">
                <div class="card__pricing">
                    <div class="card__pricing-number">
                        <span class="card__pricing-symbol"></span>Free
                    </div>
                    <span class="card__pricing-month">3 months</span>
                </div>

                <header class="card__header">
                    <div class="card__header-circle grid">
                        <!-- <img src="assets/images/free-coin.png" alt="" class="card__header-img"> -->
                    </div>

                    <span class="card__header-subtitle">Trial plan</span>
                    <h1 class="card__header-title">Individual</h1>
                </header>

                <ul class="card__list grid">
                    <li class="card__list-item">
                        <i class="uil uil-check card__list-icon-availabe"></i>
                        <p class="card__list-description">Ad free music on mobile</p>
                    </li>

                    <li class="card__list-item">
                        <i class="uil uil-check card__list-icon-availabe"></i>
                        <p class="card__list-description">Download 30 songs on 1 mobile devices</p>
                    </li>
                </ul>

                <button class="card__button" routerLink="/CommingSoon">Start 3 months trial</button>
            </article>

            <!--==================== CARD 2 ====================-->
            <article class="card__content grid">
                <div class="card__pricing">
                    <div class="card__pricing-number">
                        <span class="card__pricing-symbol">₹</span>199
                    </div>
                    <span class="card__pricing-month">per month</span>
                </div>

                <header class="card__header">
                    <div class="card__header-circle grid">
                        <!-- <img src="assets/images/pro-coin.png" alt="" class="card__header-img"> -->
                    </div>

                    <span class="card__header-subtitle">1 month free</span>
                    <h1 class="card__header-title">Duo</h1>
                </header>

                <ul class="card__list grid">
                    <li class="card__list-item">
                        <i class="uil uil-check card__list-icon-availabe"></i>
                        <p class="card__list-description">Ad free music on every device </p>
                    </li>
                    <li class="card__list-item">
                        <i class="uil uil-check card__list-icon-availabe"></i>
                        <p class="card__list-description">Download 100 songs on 5 devices</p>
                    </li>
                    <li class="card__list-item">
                        <i class="uil uil-check card__list-icon-availabe"></i>
                        <p class="card__list-description">Group sessions</p>
                    </li>
                </ul>

                <button class="card__button" routerLink="/CommingSoon">Choose this plan</button>
            </article>

            <!--==================== CARD 3 ====================-->
            <article class="card__content grid">
                <div class="card__pricing">
                    <div class="card__pricing-number">
                        <span class="card__pricing-symbol">₹</span>299
                    </div>
                    <span class="card__pricing-month">per month</span>
                </div>

                <header class="card__header">
                    <div class="card__header-circle grid">
                        <!-- <img src="assets/images/enterprise-coin.png" alt="" class="card__header-img"> -->
                    </div>

                    <span class="card__header-subtitle">1 month free</span>
                    <h1 class="card__header-title">Family</h1>
                </header>

                <ul class="card__list grid">
                    <li class="card__list-item">
                        <i class="uil uil-check card__list-icon-availabe"></i>
                        <p class="card__list-description">Ad free music on every device</p>
                    </li>
                    <li class="card__list-item">
                        <i class="uil uil-check card__list-icon-availabe"></i>
                        <p class="card__list-description">Download 5k songs on 7 devices</p>
                    </li>
                    <li class="card__list-item">
                        <i class="uil uil-check card__list-icon-availabe"></i>
                        <p class="card__list-description">Group sessions</p>
                    </li>
                    <li class="card__list-item">
                        <i class="uil uil-check card__list-icon-availabe"></i>
                        <p class="card__list-description">Block explicit music</p>
                    </li>
                </ul>

                <button class="card__button" routerLink="/CommingSoon">Choose this plan</button>
            </article>
        </div>
    </section>
</body>

</html>