<div class="container">
    <div class="title">Set new password</div>
    <div class="desc">Your new password must be different to previously used password</div>
    <form #updatePassword="ngForm" (ngSubmit)="UpdatePass(updatePassword.value)">
        <input type="password"  placeholder="New Password" required>
        <input type="password" name="password" placeholder="Confirm Password" required>
        <button class="submitbtn">Reset Password</button>
    </form>
    <div class="back">
        <a href="/login">Back to LogIn</a>
    </div>
</div>